.img-profile {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.img-profile-sm {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.img-profile-lg {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
}
