@import "../../../lib/scss/variables";


#sidebar {
    display: none;
    @media (min-width: map-get($grid-breakpoints, sm)){
        display: flex;
        flex-direction: column;
        width: $sidebar-base-width;
    }
    &.toggled {
        display: flex;
        flex-direction: column;
        width: $sidebar-xs-width;
        @media (min-width: map-get($grid-breakpoints, sm)){
            display: none;
        }
    }

    .nav-item {
        .nav-link {
            color: rgba(255,255,255,.8);
            padding: 1rem;
            i {
                color: rgba(255,255,255,.3);
                margin-right: 0.25rem;
            }
            &:hover, &:focus, &.active {
                color: $white;
                font-weight: 900;
                outline: none;
                i {
                    color: $white;
                }
            }
        }
        .collapsing, .collapse {
            margin: 0 1rem;
            .collapse-inner {
                padding: 0.5rem 0;
                background-color: $white;
                .collapse-item {
                    padding: 0.5rem 1rem;
                    margin: 0 0.5rem;
                    display: block;
                    color: $gray-900;
                    text-decoration: none;
                    border-radius: 0.25rem;
                    white-space: nowrap;
                    &:hover, &:focus {
                        color: shade-color($gray-900, 90%);
                        background-color: $gray-200;
                        outline: none;
                    }
                    &:active, &.active {
                        font-weight: 900;
                    }
                    &:active {
                        background-color: $gray-300;
                    }
                    &.active {
                        color: $blue;
                    }
                }
                hr {
                    margin: 0.5rem 0;
                }
            }
        }
    }
}