$card-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);

.card {
    border-left: 0.5rem solid #f6c23e;
    box-shadow: $card-shadow;
    .img-profile {
        height: 7.5rem;
        width: 7.5rem;
    }
}
