<div class="modal fade" id="answerScoreModal-{{answer.id}}" tabindex="-1" aria-labelledby="answerScoreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="answerScoreModalLabel">採点詳細</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                <div class="p-2">
                    {{ answer.score }}点
                    {% regroup answer.answer_reviews.all|dictsortreversed:"point" by get_point_display as point_list %}

                    {% for point in point_list %}
                        {% if point.grouper != '0点' %}
                            <div class="badge rounded-pill bg-primary">
                                {{ point.grouper }}
                                <span class="badge rounded-pill bg-secondary">{{ point.list|length }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="list-group list-group-flush">
                    {% for point in point_list %}
                        {% if point.grouper != '0点' %}
                            <div class="">
                                <div class="list-group-item border-0 p-2">
                                    {{ point.grouper }}
                                    （{{ point.list|length }}）
                                </div>
                                <div class="">
                                    {% for answer_review in point.list %}
                                        <a href="{% url 'common:user_detail' answer_review.reviewer.username %}" class="list-group-item list-group-item-action border-0 rounded-3 p-2 d-flex align-items-center">
                                            <div class="me-2">
                                                <img src="{{ answer_review.reviewer.profile.icon.url }}" class="img-profile" alt="アイコン">
                                            </div>
                                            <div class="me-auto">
                                                {{ answer_review.reviewer.account_name }}
                                            </div>
                                            <div class="badge rounded-pill bg-warning me-1">
                                                {{ answer_review.reviewer.profile.classic_level }}レベル
                                            </div>
                                            <div class="badge rounded-pill bg-black">
                                                <i class="bi bi-trophy-fill"></i>
                                                {{ answer_review.reviewer.answers.count }}
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>