{% if user in answer.get_favorite_users %}
    <button class="btn" name="favorite-{{answer.id}}" type="submit"><i class="bi bi-heart-fill text-danger"></i></button>
{% else %}
    <button class="btn" name="favorite-{{answer.id}}" type="submit"><i class="bi bi-heart"></i></button>
{% endif %}

{% if answer.favorites.exists %}
    <a href="#favoriteUserModal-{{answer.id}}" class="" data-bs-toggle="modal">
        <span name="favorite-count-{{answer.id}}">{{ answer.favorites.count }}</span>件のいいね
    </a>
{% endif %}