<div class="modal fade" id="checkQuestionModal" tabindex="-1" aria-labelledby="checkQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title text-muted" id="checkQuestionModalLabel">お題の評価にご協力ください</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="check-question-text">
                    {{ question.text }}
                </div>
                <div id="check-question-image">
                    {% if question.image %}
                        <img src="{{ question.image.url }}" class="img-fluid" alt="お題画像">
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <form id="form-check-question" action="{% url 'classic:api_check_question' %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex justify-content-evenly">
                            <button type="submit" class="btn btn-primary" name="question-check-{{question.id}}" value="0" >
                                <span class="pe-1">
                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                </span>
                                いいね！
                            </button>
                            <button type="submit" class="btn btn-secondary" name="question-check-{{question.id}}" value="1">
                                <span class="pe-1">
                                    <i class="bi bi-hand-thumbs-down-fill"></i>
                                </span>
                                う〜ん...
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>