{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}


{% block content %}
    <!-- Modal -->
    {% if question %}
        {% include 'classic/includes/question_check_modal.html' %}
    {% endif %}

    <h5>{{ match.question }}</h5>
    <div class="mb-2">
        {% if match.question.image %}
            <img src="{{ match.question.image.url }}" class="img-fluid" alt="お題画像">
        {% endif %}
    </div>

    <form method="POST">
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="mb-3">
            {% if field.label %}<!--得点欄-->
                <p>{{ field.label }}</p>
                <div class="btn-group" role="group" aria-label="radio button group">
                {% for radio in field %}
                    {{ radio.tag }}
                    <label for="{{ radio.id_for_label }}" class="btn btn-outline-primary">
                        {{ radio.choice_label }}
                    </label>
                {% endfor %}
                </div>
            {% else %}<!--コメント欄-->
                {{ field }}
            {% endif %}
            {{ field.errors }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/classic/check_question.js' %}"></script>
{% endblock %}