{% extends 'base.html' %}

{% block content %}
    classic index
    <a class="" href="{% url 'classic:contest_redirect'%}">
        コンテスト
    </a>
    <a class="" href="{% url 'classic:contest_list'%}">
        コンテスト結果
    </a>
    <a class="" href="{% url 'classic:gallery_top'%}">
        ギャラリー
    </a>
{% endblock %}

{% block extrajs %}
    <script>
        const navItem = document.getElementById('classicNav');
        navItem.querySelector('.nav-link').classList.add('active');
        navItem.querySelector('.nav-link').setAttribute('aria-expanded', 'true');
        navItem.querySelector('.nav-link').setAttribute('aria-current', 'page');
        navItem.querySelector('.collapse').classList.add('show');
        navItem.querySelector('.collapse .collapse-inner .home').classList.add('active');
    </script>
{% endblock %}