{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'common:login' %}" method="POST">
                {% include 'includes/form_floating_labels.html' %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-success" >ログイン</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>

            </form>
            <a href="{% url 'common:signup' %}" class="card-link">新規会員登録</a>
            <a href="{% url 'common:password_reset' %}" class="card-link" >パスワードを忘れた方</a>
        </div>
    </div>
{% endblock %}